body {
  font-family: sans-serif;
  background-color: rgb(236, 252, 253);
}

h1 {
  text-align: center;
  margin: 2rem;
}

form {
  width: 40rem;
  margin: auto;
  background-color: rgb(246, 250, 255);
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}

section {
  margin-bottom: 1rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

label {
  color: rgb(66, 76, 97);
  display: block;
  margin: 0.5rem 0;
}

input,
textarea,
select {
  /*Since, the button or input field has its own default font chosen by the browser, we use inherit to 
  make the font of the button same as the body of the HTML*/
  font: inherit;
  padding: 0.5rem;
  border: 1px solid rgb(152, 159, 184);
  width: 100%;
  display: block;
  border-radius: 4px;
  /*border-box for box-sizing as the padding or margin can be off the form area as width for input is
  set to 100%. After setting it to border-box, it takes into account the margin and padding to be part 
  of the width set.*/
  box-sizing: border-box;
}

textarea {
  /*textarea is resizeable as default which can break the orientation of the HTML. So, we can choose
  different type of resize value such as none, vertical, etc.*/
  resize:vertical;
}

/*focus is for input elements of the form when the mouse or keyboard is used on that field.*/ 
input:focus,
textarea:focus {
  background-color: rgb(217, 227, 247);
}

button {
  /*Since, the button or input field has its own default font chosen by the browser, we use inherit to 
  make the font of the button same as the body of the HTML*/
  font: inherit;
  border: 1px solid rgb(51, 67, 100);
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
}

#form-actions {
  /*Since button is an inline element, we can use text-align to set the alignment of the inline elements.*/
  text-align: right;
}

.btn-filled {
  background-color: rgb(51, 67, 100);
  color: white;
}

.btn-empty {
  background-color: transparent;
  color: rgb(51, 67, 100);
}

.btn-filled:hover {
  background-color: rgb(69, 89, 129);
  border-color: rgb(69, 89, 129);
}

.btn-empty:hover {
  background-color: rgb(208, 215, 230);
}

.inline-control {
  display: flex;
}

.inline-control label {
  /* the label element has its own default margin, so we set it to 0.*/
  margin: 0;
  margin-left: 0.5rem;
}

.inline-control input {
  /* As all the input field has a width of 100%, assigning this individual input with width auto will only
  take the width necessary for it, not 100%.*/ 
  width: auto;
}