body {
  background: linear-gradient(30deg, rgb(77, 77, 77), rgb(58, 58, 58));
  color: rgb(68, 68, 68);
}

#page-logo a {
  color: rgb(183, 230, 235);
}

header {
  position: static; /*On the main page, header was absolute to make the main section overlap the header
  so that bg image could also overlap. Here, we don't want that, so the position of header is set to
  static.*/
}

header a {
  color: rgb(183, 230, 235);
}

header nav a:hover {
  background-color: rgb(183, 230, 235);
  color: rgb(59, 59, 59);
}

main ul {
  width: 1200px; /*Again, the concept of width and margin to make the ul container center of its parent.*/
  margin: 0 auto 48px auto;
  display: grid;
  grid-template-columns: 1fr 1fr; /*Gives the grid two columns with equal space for each.*/
  gap: 20px 20px; /*Gap between rows and columns*/
}

li:nth-of-type(3) { /*Another important property of css which lets us select specific child*/
  grid-column: 1 / span 2; 
  /*Span 2 value on grod-column makes the third child span 2 columns in the grid.*/
}

main li {
  display: flex;
  background-color: white;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  overflow: hidden; /*Images can sometimes overflow the when the container is given some border radius
  and this property helps to hide the overflow of image in this container.
  Overflow property should be used on the container itself, not the image.*/
}

main li img {
  width: 300px;
  height: 280px;
  object-fit: cover;
}

.item-content {
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-content h2 {
  margin: 0; /* The h1, h2.....property has default top and bottom margin set so to remove it just set
  the margin to 0.*/
}

.actions {
  text-align: right;
}

.actions a {
  text-decoration: none;
  padding: 6px;
  color: rgb(22, 211, 228);
  border-radius: 5px;
}

.actions a:hover {
  background-color: rgb(235, 253, 255);
}