body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
}

ul {
  /* The ul element has a default property of top and bottom margin and also padding. So, to remove it
  you can set margin and padding to zero. */
  list-style: none;
  margin: 0;
  padding: 0;         
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Align items can be used for flexbox and grid to align it in cross axis */
  padding: 15px 60px;
  position: absolute; /*Making position absolute will make the element behave relative to its parent
  element which has the relative position set and will make the element out of the normal flow of 
  the html document. In this case, making position absolute have given this element no space in the
  document flow and made other elements to ignore this element. */
  width: 100%;
  top: 0; /*By changing the position attribute, you can set the top, bottom, left, and right position
  for the element in the page relative to the parent whose property is set to relative. */
  left: 0;
  box-sizing: border-box; /*Considers the margin and padding while wrapping the element */
}

#page-logo a {
  padding: 10px;
  font-family: "Oleo Script", sans-serif;
  color: rgb(245, 243, 160);
  font-size: 50px;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

header ul {
  display: flex;
}

header li {
  margin-left: 20px;
}

header a {
  color: rgb(255, 251, 0);
  text-decoration: none;
  font-size: 20px;
  padding: 12px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}

header nav a:hover {
  color: rgb(77, 77, 77);
  background-color: rgb(255, 251, 0);
}

footer {
  background: linear-gradient(70deg, rgb(24, 24,24), rgb(25, 29, 29));
  padding: 36px 0;
}

footer ul {
  display: flex;
  justify-content: center;
  /* padding: 40px; */
}

footer li {
  width: 80px;
  height: 80px;
  margin: 0 50px; /* You can set the margin on the parent of the image to set gap between the images*/
}

footer img {
  width: 100%;
  height: 100%; 
}